.top_left a  {
  color: black;
}

.top_right a  {
  color: black;
}

.top_right {
  position: absolute;
  right: 0px;
  top: 0px;
}

.main_image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search_bar form {
  text-align: center;
}

.bottom_link {
  text-align: center;
  margin-top: 30px;
}
